@import "./common.less";


.links {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;

    .nav-link {
        display        : flex;
        flex-flow      : column;
        padding        : 0.5em;
        border-radius  : 1em;
        margin         : 0.5em;
        text-decoration: none;

        &:hover {
            box-shadow: 0 0 2px 0 #FBDD11;
        }

        img {
            max-width: 96px;
            margin   : 0 auto;
        }

        span {
            text-align: center;
            color     : #d2d2d0;
            margin-top: 1em;
        }
    }
}